DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/nextjs-auth-rbac?schema=public"
JWT_SECRET=""
JWT_EXPIRES_IN="7d"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
NEXT_PUBLIC_ENVIRONMENT="development"
SESSION_COOKIE_NAME="nextjs-auth-rbac-session"